/web-app

# IDE support files
/.classpath
/.project
/.settings
/ivy*

*.log

# plugin release file
grails-bugsnag-*.zip
grails-bugsnag-*.zip.sha1
plugin.xml

# "temporary" build files
/target

# other
*.iws
